.cards {
    margin-top: 20px;
    font-size: 1.5em;
    margin-bottom: 7%;

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        
        &-title {
            font-weight: bold;
            color: $color-1;
        }
    
        &-data {
            background-color: white;
            height: 600px;
            padding-right: 20px;
            text-align: center;
            padding-left: 5%;

            &:hover {
                .data-in {
                    display: none;
                }

                .card-arrow {
                    color: $color-1;
                    margin: -10%;
                    display: block;
                }
            }
        }

        &-arrow {
            display: none;
        }
    }
    
}